name: deploy to server on push

on:
  push:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  deploy:
    name: Deploy to server on main branch push
    runs-on: ubuntu-latest
    steps:
      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets:SSH_PRIVATE_KEY }}
          name: github_action
          known_hosts: ${{ secrets.SSH_HOST }}
          if_key_exists: fail
      - name: Pull
        run: ssh ubuntu@13.250.110.50 "cd python_project && git pull"